@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <a href="https://t.me/jopa_corgi"><i class="bi bi-telegram"></i></a>
</div>