@{
    ViewData["Title"] = "Связаться со мной";
}
<h1>@ViewData["Title"]:</h1>

<hr/>

<h4>
    <p>Телефон: +79384330570</p>

    <p>Почта: eduard.gladkov.00@gmail.com, eduard.gladkov.00@mail.ru</p>

    <p>Telegram: <a href="https://t.me/edglad"><i class="bi bi-telegram"></i></a></p>
</h4>