@{
    ViewData["Title"] = "Образование";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p>
    <h3><span>Сентябрь 2019 — Июнь 2023:</span></h3>
    Кубанский Государственный Технологический Университет на специальность «Информационная безопасность» 10.03.01 (Бакалавриат)
</p>

<p>
    <h3><span>Сентябрь 2023 — Июнь 2025:</span></h3>
    Кубанский Государственный Технологический Университет на специальность «Информатика и вычислительная техника» 09.04.01 (Магистратура)
</p>
