@{
    ViewData["Title"] = "Пет-проекты";
}
<h1>@ViewData["Title"]</h1>



<div class="card">
    <div class="front-face">
        <div class="contents front">
            <p>photo</p>
            <p>project name</p>
            <p>discription</p>
        </div>
    </div>
</div>