@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="card">
    <div class="front-face">
        <div class="contents front">
            <p>photo</p>
            <p>project name</p>
            <p>discription</p>
        </div>
    </div>
</div>