@{
    ViewData["Title"] = "Навыки";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p>На данный момент обладаю навыками работы с: C#, .NET Core, ASP.NET Core, EntityFramework, MSSQL, Docker, git, html, css, JS</p>

<p>Имею понимание об: ООП, SOLID, DRY, KISS, YAGNY</p>

<div class="card html">
    <div class="first-content">
        <span>HTML</span>
    </div>
    <div class="second-content">
        <span>Использовал в каждом проекте для создания визуального и логического "каркаса"</span>
    </div>
</div>
<div class="card css">
    <div class="first-content">
        <span>CSS</span>
    </div>
    <div class="second-content">
        <span>Использовал в каждом проекте для создания визуального и логического "каркаса"</span>
    </div>
</div>
<div class="card java-script">
    <div class="first-content">
        <span>Java Script</span>
    </div>
    <div class="second-content">
        <span>Использовал в каждом проекте для создания визуального и логического "каркаса"</span>
    </div>
</div>
